In [1]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df1['zh_name']=df2['zh_name']
df1['email']=df2['email']
df2['match']=np.where(df1['zh_name']==df2['zh_name'] and df1['email']==df2['email'],'True','False')

print(df2)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv'

In [2]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df1['zh_name']=df2['zh_name']
df1['email']=df2['email']
df2['match']=np.where(df1['zh_name']==df2['zh_name'] and df1['email']==df2['email'],'True','False')

print(df2)

ValueError: Can only compare identically-labeled Series objects

In [4]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df1['email']=df2['email']
df2['match']=np.where(df1['email']==df2['email'],'True','False')

print(df2)

ValueError: Can only compare identically-labeled Series objects

In [5]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df2['match']=np.where(df1['email']==df2['email'],'True','False')

print(df2)

ValueError: Can only compare identically-labeled Series objects

In [6]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df2['match']=np.where(df1['email']==df2['email'],'True','False')

print(df2)

ValueError: Can only compare identically-labeled Series objects

In [7]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df2['match']=np.where(df1['id']==df2['id'],'True','False')

print(df2)

ValueError: Can only compare identically-labeled Series objects

In [9]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df1['zh_name']=df2['zh_name']
df1['email']=df2['email']
df2['match']=np.where(df1['zh_name']==df2['zh_name'] and df1['email']==df2['email'],'True','False')

print(df2)

ValueError: Can only compare identically-labeled Series objects

In [10]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df1['zh_name']=df2['zh_name']

print(df2)

      id zh_name  en_name  gender  birthday  age  \
0    NaN     洪若婷      NaN     NaN       NaN  NaN
1    NaN     賀瑞梅      NaN     NaN       NaN  NaN
2    NaN     邱月琴      NaN     NaN       NaN  NaN
3    NaN     陳麗貞      NaN     NaN       NaN  NaN
4    NaN     陳慧菁      NaN     NaN       NaN  NaN
...   ..     ...      ...     ...       ...  ...
9128 NaN     李佩真      NaN     NaN       NaN  NaN
9129 NaN     簡嘉余      NaN     NaN       NaN  NaN
9130 NaN     孫翊瑋      NaN     NaN       NaN  NaN
9131 NaN      戴麗      NaN     NaN       NaN  NaN
9132 NaN     陳瑞駿      NaN     NaN       NaN  NaN

                              email  zip_code  region  county  district  \
0              rosa200329@gmail.com       NaN     NaN     NaN       NaN
1                 mattie@chb.com.tw       NaN     NaN     NaN       NaN
2               chin3360@icloud.com       NaN     NaN     NaN       NaN
3            ljchen@mail.mcu.edu.tw       NaN     NaN     NaN       NaN
4               kim4518@hotmail.com       NaN     NaN     NaN       NaN
...                             ...       ...     ...     ...       ...
9128           sophialee@scu.edu.tw       NaN     NaN     NaN       NaN
9129  amviertenfebruar@yahoo.com.tw       NaN     NaN     NaN       NaN
9130         leslie.s0011@gmail.com       NaN     NaN     NaN       NaN
9131              ivydai8@gmail.com       NaN     NaN     NaN       NaN
9132           jerry60816@gmail.com       NaN     NaN     NaN       NaN

      address  cell  tele  id_num  last_edit  bye  note
0         NaN   NaN   NaN     NaN        NaN  NaN   NaN
1         NaN   NaN   NaN     NaN        NaN  NaN   NaN
2         NaN   NaN   NaN     NaN        NaN  NaN   NaN
3         NaN   NaN   NaN     NaN        NaN  NaN   NaN
4         NaN   NaN   NaN     NaN        NaN  NaN   NaN
...       ...   ...   ...     ...        ...  ...   ...
9128      NaN   NaN   NaN     NaN        NaN  NaN   NaN
9129      NaN   NaN   NaN     NaN        NaN  NaN   NaN
9130      NaN   NaN   NaN     NaN        NaN  NaN   NaN
9131      NaN   NaN   NaN     NaN        NaN  NaN   NaN
9132      NaN   NaN   NaN     NaN        NaN  NaN   NaN

[9133 rows x 18 columns]

In [11]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df1['zh_name']=df2['zh_name']

print(df2.head(5))

   id zh_name  en_name  gender  birthday  age                   email  \
0 NaN     洪若婷      NaN     NaN       NaN  NaN    rosa200329@gmail.com
1 NaN     賀瑞梅      NaN     NaN       NaN  NaN       mattie@chb.com.tw
2 NaN     邱月琴      NaN     NaN       NaN  NaN     chin3360@icloud.com
3 NaN     陳麗貞      NaN     NaN       NaN  NaN  ljchen@mail.mcu.edu.tw
4 NaN     陳慧菁      NaN     NaN       NaN  NaN     kim4518@hotmail.com

   zip_code  region  county  district  address  cell  tele  id_num  last_edit  \
0       NaN     NaN     NaN       NaN      NaN   NaN   NaN     NaN        NaN
1       NaN     NaN     NaN       NaN      NaN   NaN   NaN     NaN        NaN
2       NaN     NaN     NaN       NaN      NaN   NaN   NaN     NaN        NaN
3       NaN     NaN     NaN       NaN      NaN   NaN   NaN     NaN        NaN
4       NaN     NaN     NaN       NaN      NaN   NaN   NaN     NaN        NaN

   bye  note
0  NaN   NaN
1  NaN   NaN
2  NaN   NaN
3  NaN   NaN
4  NaN   NaN

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df1['zh_name2']=df2['zh_name']
df1['match']=np.where(df1['zh_name']==df2['zh_name'],'True','False')
print(df1.head(5))

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

NameError: name 'zh_name' is not defined

In [14]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df1['zh_name2']=df2['zh_name']
df1['match']=np.where(df1['zh_name']==df2['zh_name'],'True','False')
print(df1.head(5))

ValueError: Can only compare identically-labeled Series objects

In [16]:
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame(columns=columns)

print(compare_table)

Empty DataFrame
Columns: [id, zh_name, en_name, gender, birthday, age, email, zip_code, region, county, district, address, cell, tele, id_num, last_edit, bye, note]
Index: []

In [19]:
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame(list,columns=[columns])
print(compare_table)

ValueError: DataFrame constructor not properly called!

In [20]:
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame(list,columns=[columns])
print(compare_table)

ValueError: DataFrame constructor not properly called!

In [22]:
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame(columns=[columns])
print(compare_table)

Empty DataFrame
Columns: [id, zh_name, en_name, gender, birthday, age, email, zip_code, region, county, district, address, cell, tele, id_num, last_edit, bye, note]
Index: []

In [23]:
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame(columns=[columns])
print(compare_table)

Empty DataFrame
Columns: [(id,), (zh_name,), (en_name,), (gender,), (birthday,), (age,), (email,), (zip_code,), (region,), (county,), (district,), (address,), (cell,), (tele,), (id_num,), (last_edit,), (bye,), (note,)]
Index: []

In [24]:
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame(list,columns=columns)
print(compare_table)

TypeError: list expected at most 1 argument, got 2

In [25]:
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame(list,columns=columns)
print(compare_table)

ValueError: DataFrame constructor not properly called!

In [26]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

row=list(df1.append(df2))
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame(list(row),columns=columns)
compare_table['match']=np.where(df1['zh_name']==df2['zh_name'],'True','False')

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

ValueError: Shape of passed values is (18, 1), indices imply (18, 18)

In [27]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

row=list(df1.append(df2))
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame([list(row)],columns=columns)
compare_table['match']=np.where(df1['zh_name']==df2['zh_name'],'True','False')

ValueError: Can only compare identically-labeled Series objects

In [28]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

row=list(df1.append(df2))
columns=(['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
compare_table=pd.DataFrame([list(row)],columns=columns)

print(compare_table)

   id  zh_name  en_name  gender  birthday  age  email  zip_code  region  \
0  id  zh_name  en_name  gender  birthday  age  email  zip_code  region

   county  district  address  cell  tele  id_num  last_edit  bye  note
0  county  district  address  cell  tele  id_num  last_edit  bye  note

In [29]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df=df1.append(df2)


print(df)

       id  zh_name  en_name  gender    birthday  age  \
0      id  zh_name  en_name  gender    birthday  age
1       1      殷葦婷      NaN     NaN  0000-00-00  NaN
2       2      郭敬子      NaN       1  0000-00-00  NaN
3       3      陳仕俍      NaN     NaN  0000-00-00  NaN
4       4      郭珈郗      NaN     NaN  0000-00-00  NaN
...   ...      ...      ...     ...         ...  ...
9128  NaN      李佩真      NaN     NaN         NaN  NaN
9129  NaN      簡嘉余      NaN     NaN         NaN  NaN
9130  NaN      孫翊瑋      NaN     NaN         NaN  NaN
9131  NaN       戴麗      NaN     NaN         NaN  NaN
9132  NaN      陳瑞駿      NaN     NaN         NaN  NaN

                              email  zip_code  region  county  district  \
0                             email  zip_code  region  county  district
1               13816630288@163.con        20      CN     上海市       NaN
2                jimkuo49@gmail.com       200      TW     基隆市       仁愛區
3           gelintex@ms27.hinet.net       205      TW     基隆市       暖暖區
4                 grcekwk@gmail.com       NaN      HK     NaN       NaN
...                             ...       ...     ...     ...       ...
9128           sophialee@scu.edu.tw       NaN     NaN     NaN       NaN
9129  amviertenfebruar@yahoo.com.tw       NaN     NaN     NaN       NaN
9130         leslie.s0011@gmail.com       NaN     NaN     NaN       NaN
9131              ivydai8@gmail.com       NaN     NaN     NaN       NaN
9132           jerry60816@gmail.com       NaN     NaN     NaN       NaN

                      address       cell            tele  id_num  last_edit  \
0                     address       cell            tele  id_num  last_edit
1     中國大陸上海市長寧區香花橋路38弄7號401室        NaN     13816630288     NaN        NaN
2              基隆市仁愛區愛七路53號3樓  918136219             NaN     NaN        NaN
3            基隆市暖暖區暖碇路169號11樓  920521092     02-24573016     NaN        NaN
4            香港九龍官塘順安村安群樓514室        NaN  (+852)35929419     NaN        NaN
...                       ...        ...             ...     ...        ...
9128                      NaN        NaN             NaN     NaN        NaN
9129                      NaN        NaN             NaN     NaN        NaN
9130                      NaN        NaN             NaN     NaN        NaN
9131                      NaN        NaN             NaN     NaN        NaN
9132                      NaN        NaN             NaN     NaN        NaN

      bye  note
0     bye  note
1       1   NaN
2       1   NaN
3       1   NaN
4       1   NaN
...   ...   ...
9128  NaN   NaN
9129  NaN   NaN
9130  NaN   NaN
9131  NaN   NaN
9132  NaN   NaN

[123219 rows x 18 columns]

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [30]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df=df1.append(df2)
df['match']=np.where(df1['zh_name']==df2['zh_name'],'True','False')


print(df)

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

ValueError: Can only compare identically-labeled Series objects

In [34]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df=df1.append(df2)

df_duplicate=df[df.duplicated(subset='zh_name')]
print(df_duplicate)

df_duplicate.to_csv('df_duplicate')

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        id zh_name en_name gender    birthday  age  \
445    446     李駿賢     NaN    NaN  0000-00-00  NaN
651    652     邱怡玲     NaN    NaN  0000-00-00  NaN
756    757     陳伯文     NaN    NaN  0000-00-00  NaN
917    918     張晏寧     NaN    NaN  0000-00-00  NaN
1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN
...    ...     ...     ...    ...         ...  ...
9126   NaN     吳汶軒     NaN    NaN         NaN  NaN
9127   NaN     彭美寶     NaN    NaN         NaN  NaN
9128   NaN     李佩真     NaN    NaN         NaN  NaN
9129   NaN     簡嘉余     NaN    NaN         NaN  NaN
9132   NaN     陳瑞駿     NaN    NaN         NaN  NaN

                              email zip_code region county district  \
445                             NaN      704     TW    台南市       北區
651                             NaN      105     TW    台北市      松山區
756                             NaN      116     TW    台北市      文山區
917                             NaN      104     TW    台北市      中山區
1033                            NaN      235     TW    新北市      中和區
...                             ...      ...    ...    ...      ...
9126          a0989675616@gmail.com      NaN    NaN    NaN      NaN
9127            tube.peng@gmail.com      NaN    NaN    NaN      NaN
9128           sophialee@scu.edu.tw      NaN    NaN    NaN      NaN
9129  amviertenfebruar@yahoo.com.tw      NaN    NaN    NaN      NaN
9132           jerry60816@gmail.com      NaN    NaN    NaN      NaN

                 address cell tele id_num last_edit  bye note
445    台南市北區大武街597巷54弄2號  NaN  NaN    NaN       NaN    1  NaN
651   台北市松山區三民里三民路149號4樓  NaN  NaN    NaN       NaN    1  NaN
756      台北市文山區秀明路19巷18號  NaN  NaN    NaN       NaN    1  NaN
917     台北市中山區明水路461號14樓  NaN  NaN    NaN       NaN    1  NaN
1033      新北市中和區連城路29號4樓  NaN  NaN    NaN       NaN    1  NaN
...                  ...  ...  ...    ...       ...  ...  ...
9126                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9127                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9128                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9129                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9132                 NaN  NaN  NaN    NaN       NaN  NaN  NaN

[24772 rows x 18 columns]

In [36]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df=df1.append(df2)

df_duplicate=df[df.duplicated()]
print(df_duplicate)

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

       id zh_name en_name gender birthday  age                          email  \
361   NaN     高漪璠     NaN    NaN      NaN  NaN            evonne123@gmail.com
409   NaN     陳惠貴     NaN    NaN      NaN  NaN         chg4803@ms17.hinet.net
420   NaN     徐若梅     NaN    NaN      NaN  NaN                            NaN
423   NaN      譚彥     NaN    NaN      NaN  NaN               sandy@scu.edu.tw
426   NaN      王琳     NaN    NaN      NaN  NaN                            NaN
...   ...     ...     ...    ...      ...  ...                            ...
9126  NaN     吳汶軒     NaN    NaN      NaN  NaN          a0989675616@gmail.com
9127  NaN     彭美寶     NaN    NaN      NaN  NaN            tube.peng@gmail.com
9128  NaN     李佩真     NaN    NaN      NaN  NaN           sophialee@scu.edu.tw
9129  NaN     簡嘉余     NaN    NaN      NaN  NaN  amviertenfebruar@yahoo.com.tw
9132  NaN     陳瑞駿     NaN    NaN      NaN  NaN           jerry60816@gmail.com

     zip_code region county district address cell tele id_num last_edit  bye  \
361       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
409       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
420       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
423       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
426       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
...       ...    ...    ...      ...     ...  ...  ...    ...       ...  ...
9126      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
9127      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
9128      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
9129      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
9132      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN

     note
361   NaN
409   NaN
420   NaN
423   NaN
426   NaN
...   ...
9126  NaN
9127  NaN
9128  NaN
9129  NaN
9132  NaN

[1418 rows x 18 columns]

In [44]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)

df_duplicate=df123[(df123.duplicated())]
print(df_duplicate)

       id zh_name en_name gender birthday  age                          email  \
361   NaN     高漪璠     NaN    NaN      NaN  NaN            evonne123@gmail.com
409   NaN     陳惠貴     NaN    NaN      NaN  NaN         chg4803@ms17.hinet.net
420   NaN     徐若梅     NaN    NaN      NaN  NaN                            NaN
423   NaN      譚彥     NaN    NaN      NaN  NaN               sandy@scu.edu.tw
426   NaN      王琳     NaN    NaN      NaN  NaN                            NaN
...   ...     ...     ...    ...      ...  ...                            ...
9126  NaN     吳汶軒     NaN    NaN      NaN  NaN          a0989675616@gmail.com
9127  NaN     彭美寶     NaN    NaN      NaN  NaN            tube.peng@gmail.com
9128  NaN     李佩真     NaN    NaN      NaN  NaN           sophialee@scu.edu.tw
9129  NaN     簡嘉余     NaN    NaN      NaN  NaN  amviertenfebruar@yahoo.com.tw
9132  NaN     陳瑞駿     NaN    NaN      NaN  NaN           jerry60816@gmail.com

     zip_code region county district address cell tele id_num last_edit  bye  \
361       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
409       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
420       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
423       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
426       NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
...       ...    ...    ...      ...     ...  ...  ...    ...       ...  ...
9126      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
9127      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
9128      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
9129      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN
9132      NaN    NaN    NaN      NaN     NaN  NaN  NaN    NaN       NaN  NaN

     note
361   NaN
409   NaN
420   NaN
423   NaN
426   NaN
...   ...
9126  NaN
9127  NaN
9128  NaN
9129  NaN
9132  NaN

[1418 rows x 18 columns]

In [51]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)

df_duplicate=df123[df123.duplicated(['zh_name','email'])]

print(df_duplicate)

df_duplicate.to_csv('df_duplicate123')

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        id zh_name en_name gender    birthday  age  \
651    652     邱怡玲     NaN    NaN  0000-00-00  NaN
917    918     張晏寧     NaN    NaN  0000-00-00  NaN
1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN
1113  1114     陳怡君     NaN    NaN  0000-00-00  NaN
1128  1129     李宜珊     NaN    NaN  0000-00-00  NaN
...    ...     ...     ...    ...         ...  ...
9126   NaN     吳汶軒     NaN    NaN         NaN  NaN
9127   NaN     彭美寶     NaN    NaN         NaN  NaN
9128   NaN     李佩真     NaN    NaN         NaN  NaN
9129   NaN     簡嘉余     NaN    NaN         NaN  NaN
9132   NaN     陳瑞駿     NaN    NaN         NaN  NaN

                              email zip_code region county district  \
651                             NaN      105     TW    台北市      松山區
917                             NaN      104     TW    台北市      中山區
1033                            NaN      235     TW    新北市      中和區
1113                            NaN      234     TW    新北市      永和區
1128                            NaN      807     TW    高雄市      三民區
...                             ...      ...    ...    ...      ...
9126          a0989675616@gmail.com      NaN    NaN    NaN      NaN
9127            tube.peng@gmail.com      NaN    NaN    NaN      NaN
9128           sophialee@scu.edu.tw      NaN    NaN    NaN      NaN
9129  amviertenfebruar@yahoo.com.tw      NaN    NaN    NaN      NaN
9132           jerry60816@gmail.com      NaN    NaN    NaN      NaN

                 address cell tele id_num last_edit  bye note
651   台北市松山區三民里三民路149號4樓  NaN  NaN    NaN       NaN    1  NaN
917     台北市中山區明水路461號14樓  NaN  NaN    NaN       NaN    1  NaN
1033      新北市中和區連城路29號4樓  NaN  NaN    NaN       NaN    1  NaN
1113    新北市永和區秀朗路1段90巷8號  NaN  NaN    NaN       NaN    1  NaN
1128        高雄市三民區建德路74號  NaN  NaN    NaN       NaN    1  NaN
...                  ...  ...  ...    ...       ...  ...  ...
9126                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9127                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9128                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9129                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9132                 NaN  NaN  NaN    NaN       NaN  NaN  NaN

[17585 rows x 18 columns]

In [53]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)

df_duplicate=df123[df123.duplicated(['zh_name','email'])]

print(df_duplicate)

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        id zh_name en_name gender    birthday  age  \
651    652     邱怡玲     NaN    NaN  0000-00-00  NaN
917    918     張晏寧     NaN    NaN  0000-00-00  NaN
1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN
1113  1114     陳怡君     NaN    NaN  0000-00-00  NaN
1128  1129     李宜珊     NaN    NaN  0000-00-00  NaN
...    ...     ...     ...    ...         ...  ...
9126   NaN     吳汶軒     NaN    NaN         NaN  NaN
9127   NaN     彭美寶     NaN    NaN         NaN  NaN
9128   NaN     李佩真     NaN    NaN         NaN  NaN
9129   NaN     簡嘉余     NaN    NaN         NaN  NaN
9132   NaN     陳瑞駿     NaN    NaN         NaN  NaN

                              email zip_code region county district  \
651                             NaN      105     TW    台北市      松山區
917                             NaN      104     TW    台北市      中山區
1033                            NaN      235     TW    新北市      中和區
1113                            NaN      234     TW    新北市      永和區
1128                            NaN      807     TW    高雄市      三民區
...                             ...      ...    ...    ...      ...
9126          a0989675616@gmail.com      NaN    NaN    NaN      NaN
9127            tube.peng@gmail.com      NaN    NaN    NaN      NaN
9128           sophialee@scu.edu.tw      NaN    NaN    NaN      NaN
9129  amviertenfebruar@yahoo.com.tw      NaN    NaN    NaN      NaN
9132           jerry60816@gmail.com      NaN    NaN    NaN      NaN

                 address cell tele id_num last_edit  bye note
651   台北市松山區三民里三民路149號4樓  NaN  NaN    NaN       NaN    1  NaN
917     台北市中山區明水路461號14樓  NaN  NaN    NaN       NaN    1  NaN
1033      新北市中和區連城路29號4樓  NaN  NaN    NaN       NaN    1  NaN
1113    新北市永和區秀朗路1段90巷8號  NaN  NaN    NaN       NaN    1  NaN
1128        高雄市三民區建德路74號  NaN  NaN    NaN       NaN    1  NaN
...                  ...  ...  ...    ...       ...  ...  ...
9126                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9127                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9128                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9129                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9132                 NaN  NaN  NaN    NaN       NaN  NaN  NaN

[17585 rows x 18 columns]

In [54]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104_false.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)

df_duplicate=df123[df123.duplicated(['zh_name'])]

print(df_duplicate)

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        id zh_name en_name gender    birthday  age  \
445    446     李駿賢     NaN    NaN  0000-00-00  NaN
651    652     邱怡玲     NaN    NaN  0000-00-00  NaN
756    757     陳伯文     NaN    NaN  0000-00-00  NaN
917    918     張晏寧     NaN    NaN  0000-00-00  NaN
1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN
...    ...     ...     ...    ...         ...  ...
9126   NaN     吳汶軒     NaN    NaN         NaN  NaN
9127   NaN     彭美寶     NaN    NaN         NaN  NaN
9128   NaN     李佩真     NaN    NaN         NaN  NaN
9129   NaN     簡嘉余     NaN    NaN         NaN  NaN
9132   NaN     陳瑞駿     NaN    NaN         NaN  NaN

                              email zip_code region county district  \
445                             NaN      704     TW    台南市       北區
651                             NaN      105     TW    台北市      松山區
756                             NaN      116     TW    台北市      文山區
917                             NaN      104     TW    台北市      中山區
1033                            NaN      235     TW    新北市      中和區
...                             ...      ...    ...    ...      ...
9126          a0989675616@gmail.com      NaN    NaN    NaN      NaN
9127            tube.peng@gmail.com      NaN    NaN    NaN      NaN
9128           sophialee@scu.edu.tw      NaN    NaN    NaN      NaN
9129  amviertenfebruar@yahoo.com.tw      NaN    NaN    NaN      NaN
9132           jerry60816@gmail.com      NaN    NaN    NaN      NaN

                 address cell tele id_num last_edit  bye note
445    台南市北區大武街597巷54弄2號  NaN  NaN    NaN       NaN    1  NaN
651   台北市松山區三民里三民路149號4樓  NaN  NaN    NaN       NaN    1  NaN
756      台北市文山區秀明路19巷18號  NaN  NaN    NaN       NaN    1  NaN
917     台北市中山區明水路461號14樓  NaN  NaN    NaN       NaN    1  NaN
1033      新北市中和區連城路29號4樓  NaN  NaN    NaN       NaN    1  NaN
...                  ...  ...  ...    ...       ...  ...  ...
9126                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9127                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9128                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9129                 NaN  NaN  NaN    NaN       NaN  NaN  NaN
9132                 NaN  NaN  NaN    NaN       NaN  NaN  NaN

[24772 rows x 18 columns]

In [56]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)

df_duplicate=df123[df123.duplicated(['zh_name'])]

print(df_duplicate)

        id zh_name en_name gender    birthday  age                      email  \
445    446     李駿賢     NaN    NaN  0000-00-00  NaN                        NaN
651    652     邱怡玲     NaN    NaN  0000-00-00  NaN                        NaN
756    757     陳伯文     NaN    NaN  0000-00-00  NaN                        NaN
917    918     張晏寧     NaN    NaN  0000-00-00  NaN                        NaN
1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN                        NaN
...    ...     ...     ...    ...         ...  ...                        ...
2249   NaN     楊秉鈞     NaN    NaN         NaN  NaN  yangbinjin@hotmail.com.tw
2257   NaN     王怡韻     NaN    NaN         NaN  NaN     yun317926@yahoo.com.tw
2271   NaN     蔡惠惠     NaN    NaN         NaN  NaN      joanna12099@gmail.com
2287   NaN     郭家馨     NaN    NaN         NaN  NaN        c60123@yahoo.com.tw
2311   NaN     黃正文     NaN    NaN         NaN  NaN        egg80729@gmail.com

     zip_code region county district             address       cell tele  \
445       704     TW    台南市       北區   台南市北區大武街597巷54弄2號        NaN  NaN
651       105     TW    台北市      松山區  台北市松山區三民里三民路149號4樓        NaN  NaN
756       116     TW    台北市      文山區     台北市文山區秀明路19巷18號        NaN  NaN
917       104     TW    台北市      中山區    台北市中山區明水路461號14樓        NaN  NaN
1033      235     TW    新北市      中和區      新北市中和區連城路29號4樓        NaN  NaN
...       ...    ...    ...      ...                 ...        ...  ...
2249      NaN    NaN    NaN      NaN                 NaN  981203363  NaN
2257      NaN    NaN    NaN      NaN                 NaN  938335241  NaN
2271      NaN    NaN    NaN      NaN                 NaN  916408773  NaN
2287      NaN    NaN    NaN      NaN                 NaN  966476505  NaN
2311      NaN    NaN    NaN      NaN                 NaN  924133811  NaN

     id_num last_edit bye note
445     NaN       NaN   1  NaN
651     NaN       NaN   1  NaN
756     NaN       NaN   1  NaN
917     NaN       NaN   1  NaN
1033    NaN       NaN   1  NaN
...     ...       ...  ..  ...
2249    NaN       NaN   1  NaN
2257    NaN       NaN   1  NaN
2271    NaN       NaN   1  NaN
2287    NaN       NaN   1  NaN
2311    NaN       NaN   1  NaN

[19994 rows x 18 columns]

In [59]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)

df_duplicate=df123[df123.duplicated(['zh_name','email'])]

print(df_duplicate)

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        id zh_name en_name gender    birthday  age                      email  \
651    652     邱怡玲     NaN    NaN  0000-00-00  NaN                        NaN
917    918     張晏寧     NaN    NaN  0000-00-00  NaN                        NaN
1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN                        NaN
1113  1114     陳怡君     NaN    NaN  0000-00-00  NaN                        NaN
1128  1129     李宜珊     NaN    NaN  0000-00-00  NaN                        NaN
...    ...     ...     ...    ...         ...  ...                        ...
2200   NaN     吳彥輝     NaN    NaN         NaN  NaN           w30415@gmail.com
2226   NaN     廖淑英     NaN    NaN         NaN  NaN      shuying1018@gmail.com
2249   NaN     楊秉鈞     NaN    NaN         NaN  NaN  yangbinjin@hotmail.com.tw
2257   NaN     王怡韻     NaN    NaN         NaN  NaN     yun317926@yahoo.com.tw
2271   NaN     蔡惠惠     NaN    NaN         NaN  NaN      joanna12099@gmail.com

     zip_code region county district             address       cell tele  \
651       105     TW    台北市      松山區  台北市松山區三民里三民路149號4樓        NaN  NaN
917       104     TW    台北市      中山區    台北市中山區明水路461號14樓        NaN  NaN
1033      235     TW    新北市      中和區      新北市中和區連城路29號4樓        NaN  NaN
1113      234     TW    新北市      永和區    新北市永和區秀朗路1段90巷8號        NaN  NaN
1128      807     TW    高雄市      三民區        高雄市三民區建德路74號        NaN  NaN
...       ...    ...    ...      ...                 ...        ...  ...
2200      NaN    NaN    NaN      NaN                 NaN  988239708  NaN
2226      NaN    NaN    NaN      NaN                 NaN  905800008  NaN
2249      NaN    NaN    NaN      NaN                 NaN  981203363  NaN
2257      NaN    NaN    NaN      NaN                 NaN  938335241  NaN
2271      NaN    NaN    NaN      NaN                 NaN  916408773  NaN

     id_num last_edit bye note
651     NaN       NaN   1  NaN
917     NaN       NaN   1  NaN
1033    NaN       NaN   1  NaN
1113    NaN       NaN   1  NaN
1128    NaN       NaN   1  NaN
...     ...       ...  ..  ...
2200    NaN       NaN   1  NaN
2226    NaN       NaN   1  NaN
2249    NaN       NaN   1  NaN
2257    NaN       NaN   1  NaN
2271    NaN       NaN   1  NaN

[14831 rows x 18 columns]

In [62]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)

df_duplicate=df123[df123.duplicated(['zh_name'and'email'])]

print(df_duplicate)

       id zh_name en_name gender    birthday  age email zip_code region  \
14     14     張諺琪     NaN    NaN  0000-00-00  NaN   NaN      105     TW
20     20     姜集淮     NaN    NaN  0000-00-00  NaN   NaN      NaN    NaN
26     26     陳幸利     NaN    NaN  0000-00-00  NaN   NaN      403     TW
28     28     朱惠珍     NaN    NaN  0000-00-00  NaN   NaN      503     TW
29     29     呂明美     NaN    NaN  0000-00-00  NaN   NaN      106     TW
...   ...     ...     ...    ...         ...  ...   ...      ...    ...
2305  NaN     黃乙文     NaN    NaN         NaN  NaN   NaN      NaN    NaN
2308  NaN     黃婉麗     NaN    NaN         NaN  NaN   NaN      NaN    NaN
2309  NaN     黃廖雀     NaN    NaN         NaN  NaN   NaN      NaN    NaN
2312  NaN     黃秀端     NaN    NaN         NaN  NaN   NaN      NaN    NaN
2314  NaN     龍瑩瑩     NaN    NaN         NaN  NaN     /      NaN    NaN

     county district                address          cell          tele  \
14      台北市      松山區  台北市松山區民生東路四段112巷28號1樓           NaN           NaN
20      NaN      NaN                    NaN     973133559           NaN
26      台中市       西區           台中市西區民生路140號           NaN  04-2463-3777
28      彰化縣      花壇鄉    彰化縣花壇鄉白沙村觀音巷80弄9-5號   0963-115005   04-711-4433
29      台北市      大安區   台北市大安區和平東路1段266號6樓之一           NaN   02-23680882
...     ...      ...                    ...           ...           ...
2305    NaN      NaN                    NaN  0928-289-189           NaN
2308    NaN      NaN                    NaN           NaN           NaN
2309    NaN      NaN                    NaN           NaN           NaN
2312    NaN      NaN                    NaN           NaN           NaN
2314    NaN      NaN                    NaN             /           NaN

     id_num last_edit bye note
14      NaN       NaN   1  NaN
20      NaN       NaN   1  NaN
26      NaN       NaN   1  NaN
28      NaN       NaN   1  NaN
29      NaN       NaN   1  NaN
...     ...       ...  ..  ...
2305    NaN       NaN   1  NaN
2308    NaN       NaN   1  NaN
2309    NaN       NaN   1  NaN
2312    NaN       NaN   1  NaN
2314    NaN       NaN   1  NaN

[90066 rows x 18 columns]

In [70]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=df123[df123.duplicated(['zh_name'and'email'])]
df_noblanck=df_duplicate[df_duplicate.drop(['email']=='NaN')]

print(df_noblanck)

KeyError: '[False] not found in axis'

In [84]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=df123[df123.duplicated(['zh_name','email'])]
df_duplicate_notblank=df_duplicate[df_duplicate['email']!=0]

print(df_duplicate,df_duplicate_notblank)
df_duplicate,df_duplicate_notblank.to_csv('df_duplicate_noblank')

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        id zh_name en_name gender    birthday  age                      email  \
651    652     邱怡玲     NaN    NaN  0000-00-00  NaN                        NaN
917    918     張晏寧     NaN    NaN  0000-00-00  NaN                        NaN
1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN                        NaN
1113  1114     陳怡君     NaN    NaN  0000-00-00  NaN                        NaN
1128  1129     李宜珊     NaN    NaN  0000-00-00  NaN                        NaN
...    ...     ...     ...    ...         ...  ...                        ...
2200   NaN     吳彥輝     NaN    NaN         NaN  NaN           w30415@gmail.com
2226   NaN     廖淑英     NaN    NaN         NaN  NaN      shuying1018@gmail.com
2249   NaN     楊秉鈞     NaN    NaN         NaN  NaN  yangbinjin@hotmail.com.tw
2257   NaN     王怡韻     NaN    NaN         NaN  NaN     yun317926@yahoo.com.tw
2271   NaN     蔡惠惠     NaN    NaN         NaN  NaN      joanna12099@gmail.com

     zip_code region county district             address       cell tele  \
651       105     TW    台北市      松山區  台北市松山區三民里三民路149號4樓        NaN  NaN
917       104     TW    台北市      中山區    台北市中山區明水路461號14樓        NaN  NaN
1033      235     TW    新北市      中和區      新北市中和區連城路29號4樓        NaN  NaN
1113      234     TW    新北市      永和區    新北市永和區秀朗路1段90巷8號        NaN  NaN
1128      807     TW    高雄市      三民區        高雄市三民區建德路74號        NaN  NaN
...       ...    ...    ...      ...                 ...        ...  ...
2200      NaN    NaN    NaN      NaN                 NaN  988239708  NaN
2226      NaN    NaN    NaN      NaN                 NaN  905800008  NaN
2249      NaN    NaN    NaN      NaN                 NaN  981203363  NaN
2257      NaN    NaN    NaN      NaN                 NaN  938335241  NaN
2271      NaN    NaN    NaN      NaN                 NaN  916408773  NaN

     id_num last_edit bye note
651     NaN       NaN   1  NaN
917     NaN       NaN   1  NaN
1033    NaN       NaN   1  NaN
1113    NaN       NaN   1  NaN
1128    NaN       NaN   1  NaN
...     ...       ...  ..  ...
2200    NaN       NaN   1  NaN
2226    NaN       NaN   1  NaN
2249    NaN       NaN   1  NaN
2257    NaN       NaN   1  NaN
2271    NaN       NaN   1  NaN

[14831 rows x 18 columns]         id zh_name en_name gender    birthday  age                      email  \
651    652     邱怡玲     NaN    NaN  0000-00-00  NaN                        NaN
917    918     張晏寧     NaN    NaN  0000-00-00  NaN                        NaN
1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN                        NaN
1113  1114     陳怡君     NaN    NaN  0000-00-00  NaN                        NaN
1128  1129     李宜珊     NaN    NaN  0000-00-00  NaN                        NaN
...    ...     ...     ...    ...         ...  ...                        ...
2200   NaN     吳彥輝     NaN    NaN         NaN  NaN           w30415@gmail.com
2226   NaN     廖淑英     NaN    NaN         NaN  NaN      shuying1018@gmail.com
2249   NaN     楊秉鈞     NaN    NaN         NaN  NaN  yangbinjin@hotmail.com.tw
2257   NaN     王怡韻     NaN    NaN         NaN  NaN     yun317926@yahoo.com.tw
2271   NaN     蔡惠惠     NaN    NaN         NaN  NaN      joanna12099@gmail.com

     zip_code region county district             address       cell tele  \
651       105     TW    台北市      松山區  台北市松山區三民里三民路149號4樓        NaN  NaN
917       104     TW    台北市      中山區    台北市中山區明水路461號14樓        NaN  NaN
1033      235     TW    新北市      中和區      新北市中和區連城路29號4樓        NaN  NaN
1113      234     TW    新北市      永和區    新北市永和區秀朗路1段90巷8號        NaN  NaN
1128      807     TW    高雄市      三民區        高雄市三民區建德路74號        NaN  NaN
...       ...    ...    ...      ...                 ...        ...  ...
2200      NaN    NaN    NaN      NaN                 NaN  988239708  NaN
2226      NaN    NaN    NaN      NaN                 NaN  905800008  NaN
2249      NaN    NaN    NaN      NaN                 NaN  981203363  NaN
2257      NaN    NaN    NaN      NaN                 NaN  938335241  NaN
2271      NaN    NaN    NaN      NaN                 NaN  916408773  NaN

     id_num last_edit bye note
651     NaN       NaN   1  NaN
917     NaN       NaN   1  NaN
1033    NaN       NaN   1  NaN
1113    NaN       NaN   1  NaN
1128    NaN       NaN   1  NaN
...     ...       ...  ..  ...
2200    NaN       NaN   1  NaN
2226    NaN       NaN   1  NaN
2249    NaN       NaN   1  NaN
2257    NaN       NaN   1  NaN
2271    NaN       NaN   1  NaN

[14831 rows x 18 columns]

(        id zh_name en_name gender    birthday  age                      email  \
 651    652     邱怡玲     NaN    NaN  0000-00-00  NaN                        NaN
 917    918     張晏寧     NaN    NaN  0000-00-00  NaN                        NaN
 1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN                        NaN
 1113  1114     陳怡君     NaN    NaN  0000-00-00  NaN                        NaN
 1128  1129     李宜珊     NaN    NaN  0000-00-00  NaN                        NaN
 ...    ...     ...     ...    ...         ...  ...                        ...
 2200   NaN     吳彥輝     NaN    NaN         NaN  NaN           w30415@gmail.com
 2226   NaN     廖淑英     NaN    NaN         NaN  NaN      shuying1018@gmail.com
 2249   NaN     楊秉鈞     NaN    NaN         NaN  NaN  yangbinjin@hotmail.com.tw
 2257   NaN     王怡韻     NaN    NaN         NaN  NaN     yun317926@yahoo.com.tw
 2271   NaN     蔡惠惠     NaN    NaN         NaN  NaN      joanna12099@gmail.com

      zip_code region county district             address       cell tele  \
 651       105     TW    台北市      松山區  台北市松山區三民里三民路149號4樓        NaN  NaN
 917       104     TW    台北市      中山區    台北市中山區明水路461號14樓        NaN  NaN
 1033      235     TW    新北市      中和區      新北市中和區連城路29號4樓        NaN  NaN
 1113      234     TW    新北市      永和區    新北市永和區秀朗路1段90巷8號        NaN  NaN
 1128      807     TW    高雄市      三民區        高雄市三民區建德路74號        NaN  NaN
 ...       ...    ...    ...      ...                 ...        ...  ...
 2200      NaN    NaN    NaN      NaN                 NaN  988239708  NaN
 2226      NaN    NaN    NaN      NaN                 NaN  905800008  NaN
 2249      NaN    NaN    NaN      NaN                 NaN  981203363  NaN
 2257      NaN    NaN    NaN      NaN                 NaN  938335241  NaN
 2271      NaN    NaN    NaN      NaN                 NaN  916408773  NaN

      id_num last_edit bye note
 651     NaN       NaN   1  NaN
 917     NaN       NaN   1  NaN
 1033    NaN       NaN   1  NaN
 1113    NaN       NaN   1  NaN
 1128    NaN       NaN   1  NaN
 ...     ...       ...  ..  ...
 2200    NaN       NaN   1  NaN
 2226    NaN       NaN   1  NaN
 2249    NaN       NaN   1  NaN
 2257    NaN       NaN   1  NaN
 2271    NaN       NaN   1  NaN

 [14831 rows x 18 columns],
 None)

In [104]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=(df2['email']!=df123['email'])

print(df_duplicate)

ValueError: Can only compare identically-labeled Series objects

In [102]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=df123[df123.duplicated(['zh_name','email'])]

print(df_duplicate)

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        id zh_name en_name gender    birthday  age                      email  \
651    652     邱怡玲     NaN    NaN  0000-00-00  NaN                        NaN
917    918     張晏寧     NaN    NaN  0000-00-00  NaN                        NaN
1033  1034     蔡欣樺     NaN    NaN  0000-00-00  NaN                        NaN
1113  1114     陳怡君     NaN    NaN  0000-00-00  NaN                        NaN
1128  1129     李宜珊     NaN    NaN  0000-00-00  NaN                        NaN
...    ...     ...     ...    ...         ...  ...                        ...
2200   NaN     吳彥輝     NaN    NaN         NaN  NaN           w30415@gmail.com
2226   NaN     廖淑英     NaN    NaN         NaN  NaN      shuying1018@gmail.com
2249   NaN     楊秉鈞     NaN    NaN         NaN  NaN  yangbinjin@hotmail.com.tw
2257   NaN     王怡韻     NaN    NaN         NaN  NaN     yun317926@yahoo.com.tw
2271   NaN     蔡惠惠     NaN    NaN         NaN  NaN      joanna12099@gmail.com

     zip_code region county district             address       cell tele  \
651       105     TW    台北市      松山區  台北市松山區三民里三民路149號4樓        NaN  NaN
917       104     TW    台北市      中山區    台北市中山區明水路461號14樓        NaN  NaN
1033      235     TW    新北市      中和區      新北市中和區連城路29號4樓        NaN  NaN
1113      234     TW    新北市      永和區    新北市永和區秀朗路1段90巷8號        NaN  NaN
1128      807     TW    高雄市      三民區        高雄市三民區建德路74號        NaN  NaN
...       ...    ...    ...      ...                 ...        ...  ...
2200      NaN    NaN    NaN      NaN                 NaN  988239708  NaN
2226      NaN    NaN    NaN      NaN                 NaN  905800008  NaN
2249      NaN    NaN    NaN      NaN                 NaN  981203363  NaN
2257      NaN    NaN    NaN      NaN                 NaN  938335241  NaN
2271      NaN    NaN    NaN      NaN                 NaN  916408773  NaN

     id_num last_edit bye note
651     NaN       NaN   1  NaN
917     NaN       NaN   1  NaN
1033    NaN       NaN   1  NaN
1113    NaN       NaN   1  NaN
1128    NaN       NaN   1  NaN
...     ...       ...  ..  ...
2200    NaN       NaN   1  NaN
2226    NaN       NaN   1  NaN
2249    NaN       NaN   1  NaN
2257    NaN       NaN   1  NaN
2271    NaN       NaN   1  NaN

[14831 rows x 18 columns]

In [106]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=(df123['email']!=0)

print(df_duplicate)

0       True
1       True
2       True
3       True
4       True
        ...
2310    True
2311    True
2312    True
2313    True
2314    True
Name: email, Length: 116401, dtype: bool

In [110]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=(df123['email']!=0)
df_duplicate_noblank=df_duplicate[df_duplicate.duplicated(['zh_name','email'])]

print(df_duplicate_noblank)

ValueError: keep must be either "first", "last" or False

In [112]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=(df123['email']!=0)


print(df_duplicate)
df_duplicate.to_csv('df_duplicate!=0')

0       True
1       True
2       True
3       True
4       True
        ...
2310    True
2311    True
2312    True
2313    True
2314    True
Name: email, Length: 116401, dtype: bool

In [115]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=(df123.email!='NaN')

print(df_duplicate)

0       True
1       True
2       True
3       True
4       True
        ...
2310    True
2311    True
2312    True
2313    True
2314    True
Name: email, Length: 116401, dtype: bool

In [130]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=df123.loc[df123['email'].notnull()]


print(df_duplicate)

       id  zh_name  en_name  gender    birthday  age                    email  \
0      id  zh_name  en_name  gender    birthday  age                    email
1       1      殷葦婷      NaN     NaN  0000-00-00  NaN      13816630288@163.con
2       2      郭敬子      NaN       1  0000-00-00  NaN       jimkuo49@gmail.com
3       3      陳仕俍      NaN     NaN  0000-00-00  NaN  gelintex@ms27.hinet.net
4       4      郭珈郗      NaN     NaN  0000-00-00  NaN        grcekwk@gmail.com
...   ...      ...      ...     ...         ...  ...                      ...
2307  NaN      黃兆強      NaN     NaN         NaN  NaN        skwong@scu.edu.tw
2310  NaN      黃思堯      NaN     NaN         NaN  NaN        siyao39@gmail.com
2311  NaN      黃正文      NaN     NaN         NaN  NaN      egg80729@gmail.com
2313  NaN      黃若筑      NaN     NaN         NaN  NaN  jameshuang3388@gmail.co
2314  NaN      龍瑩瑩      NaN     NaN         NaN  NaN                        /

      zip_code  region  county  district                  address  \
0     zip_code  region  county  district                  address
1           20      CN     上海市       NaN  中國大陸上海市長寧區香花橋路38弄7號401室
2          200      TW     基隆市       仁愛區           基隆市仁愛區愛七路53號3樓
3          205      TW     基隆市       暖暖區         基隆市暖暖區暖碇路169號11樓
4          NaN      HK     NaN       NaN         香港九龍官塘順安村安群樓514室
...        ...     ...     ...       ...                      ...
2307       NaN     NaN     NaN       NaN                      NaN
2310       NaN     NaN     NaN       NaN                      NaN
2311       NaN     NaN     NaN       NaN                      NaN
2313       NaN     NaN     NaN       NaN                      NaN
2314       NaN     NaN     NaN       NaN                      NaN

             cell            tele  id_num  last_edit  bye  note
0            cell            tele  id_num  last_edit  bye  note
1             NaN     13816630288     NaN        NaN    1   NaN
2       918136219             NaN     NaN        NaN    1   NaN
3       920521092     02-24573016     NaN        NaN    1   NaN
4             NaN  (+852)35929419     NaN        NaN    1   NaN
...           ...             ...     ...        ...  ...   ...
2307   0928513054             NaN     NaN        NaN    1   NaN
2310    908208909             NaN     NaN        NaN    1   NaN
2311    924133811             NaN     NaN        NaN    1   NaN
2313  0979-754322             NaN     NaN        NaN    1   NaN
2314            /             NaN     NaN        NaN    1   NaN

[27742 rows x 18 columns]

In [133]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df123=df1.append(df2)
df_duplicate=df123.loc[df123['email'].notnull()]
df_duplicatenoblank=df_duplicate[df_duplicate.duplicated(['zh_name','email'])]


print(df_duplicatenoblank)
df_duplicatenoblank.to_csv('測試2000比對114104')

          id zh_name en_name gender    birthday  age  \
6276    6278     洪長岸     NaN    NaN  0000-00-00  NaN
8666    8668     孫清吉     NaN    NaN  0000-00-00  NaN
10576  10579     陳秀蘭     NaN      0    1956/9/7  NaN
12644  12647     劉璐琍     NaN    NaN  0000-00-00  NaN
15035  15039     陳怡如     NaN    NaN  0000-00-00  NaN
...      ...     ...     ...    ...         ...  ...
2200     NaN     吳彥輝     NaN    NaN         NaN  NaN
2226     NaN     廖淑英     NaN    NaN         NaN  NaN
2249     NaN     楊秉鈞     NaN    NaN         NaN  NaN
2257     NaN     王怡韻     NaN    NaN         NaN  NaN
2271     NaN     蔡惠惠     NaN    NaN         NaN  NaN

                              email zip_code region county district  \
6276          monty@highlink.com.tw      111     TW    台北市      士林區
8666          chingchisun@gmail.com      111     TW    台北市      士林區
10576  hsiulanchen0907@yahoo.com.tw      236     TW    新北市      土城區
12644       luly1225@ms36.hinet.net      111     TW    台北市      士林區
15035         yiru0714@yahoo.com.tw      600     TW    嘉義市      NaN
...                             ...      ...    ...    ...      ...
2200               w30415@gmail.com      NaN    NaN    NaN      NaN
2226          shuying1018@gmail.com      NaN    NaN    NaN      NaN
2249      yangbinjin@hotmail.com.tw      NaN    NaN    NaN      NaN
2257         yun317926@yahoo.com.tw      NaN    NaN    NaN      NaN
2271          joanna12099@gmail.com      NaN    NaN    NaN      NaN

                   address          cell          tele id_num last_edit bye  \
6276      台北市士林區莊頂路柏園山莊42號           NaN           NaN    NaN       NaN   1
8666       台北市士林區天母東路83號B1  0920-584-678           NaN    NaN       NaN   1
10576  新北市土城區明德路2段119巷5號4樓     989702009           NaN    NaN       NaN   1
12644        台北市士林區天玉街1號4樓   0932-383279  02-2873-3100    NaN       NaN   1
15035           嘉義市安和街159號   0922-332695   05-278-9319    NaN       NaN   1
...                    ...           ...           ...    ...       ...  ..
2200                   NaN     988239708           NaN    NaN       NaN   1
2226                   NaN     905800008           NaN    NaN       NaN   1
2249                   NaN     981203363           NaN    NaN       NaN   1
2257                   NaN     938335241           NaN    NaN       NaN   1
2271                   NaN     916408773           NaN    NaN       NaN   1

      note
6276   NaN
8666   NaN
10576  NaN
12644  NaN
15035  NaN
...    ...
2200   NaN
2226   NaN
2249   NaN
2257   NaN
2271   NaN

[793 rows x 18 columns]

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [136]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df_combined=df1.append(df2)
df2_nameduplicate=df2[df2.duplicated(['zh_name'])]

df2

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,NaN,陳鴻智,NaN,NaN,1938/8/31,NaN,emy8088@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,0955-327-930,NaN,NaN,NaN,1,NaN
1,NaN,廖勝國,NaN,NaN,1942/5/8,NaN,sk.liao@hotmail.com,NaN,NaN,NaN,NaN,NaN,0936-085-999,NaN,NaN,NaN,1,NaN
2,NaN,洪長岸,NaN,NaN,1946/1/18,NaN,monty@highlink.com.tw,NaN,NaN,NaN,NaN,NaN,0905-516-878,NaN,NaN,NaN,1,NaN
3,NaN,孫清吉,NaN,NaN,1947/12/2,NaN,chingchi@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0920-584-678,NaN,NaN,NaN,1,NaN
4,NaN,張美玉,NaN,NaN,1948/12/5,NaN,joychang1022@gmail.com,NaN,NaN,NaN,NaN,NaN,0933-887-716,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2310,NaN,黃思堯,NaN,NaN,NaN,NaN,siyao39@gmail.com,NaN,NaN,NaN,NaN,NaN,908208909,NaN,NaN,NaN,1,NaN
2311,NaN,黃正文,NaN,NaN,NaN,NaN,egg80729@gmail.com,NaN,NaN,NaN,NaN,NaN,924133811,NaN,NaN,NaN,1,NaN
2312,NaN,黃秀端,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2313,NaN,黃若筑,NaN,NaN,NaN,NaN,jameshuang3388@gmail.co,NaN,NaN,NaN,NaN,NaN,0979-754322,NaN,NaN,NaN,1,NaN
2314,NaN,龍瑩瑩,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,1,NaN

In [4]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df_combined=df1.append(df2)
df_combined_difference=df_combined.drop_duplicates(['zh_name'])


df_combined_difference

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
1,1,殷葦婷,NaN,NaN,0000-00-00,NaN,13816630288@163.con,20,CN,上海市,NaN,中國大陸上海市長寧區香花橋路38弄7號401室,NaN,13816630288,NaN,NaN,1,NaN
2,2,郭敬子,NaN,1,0000-00-00,NaN,jimkuo49@gmail.com,200,TW,基隆市,仁愛區,基隆市仁愛區愛七路53號3樓,918136219,NaN,NaN,NaN,1,NaN
3,3,陳仕俍,NaN,NaN,0000-00-00,NaN,gelintex@ms27.hinet.net,205,TW,基隆市,暖暖區,基隆市暖暖區暖碇路169號11樓,920521092,02-24573016,NaN,NaN,1,NaN
4,4,郭珈郗,NaN,NaN,0000-00-00,NaN,grcekwk@gmail.com,NaN,HK,NaN,NaN,香港九龍官塘順安村安群樓514室,NaN,(+852)35929419,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,NaN,黃廖雀,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2310,NaN,黃思堯,NaN,NaN,NaN,NaN,siyao39@gmail.com,NaN,NaN,NaN,NaN,NaN,908208909,NaN,NaN,NaN,1,NaN
2312,NaN,黃秀端,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2313,NaN,黃若筑,NaN,NaN,NaN,NaN,jameshuang3388@gmail.co,NaN,NaN,NaN,NaN,NaN,0979-754322,NaN,NaN,NaN,1,NaN
2314,NaN,龍瑩瑩,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,1,NaN

In [50]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df_combined=df1.append(df2)
df_combined_difference=df_combined.drop_duplicates(['zh_name'])
df2_condition1=pd.concat([df_combined_difference,df2]).duplicated(keep=False)
df2_nosamename=pd.concat([df_combined_difference,df2])[df2_condition1]

df2_nosamename

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
1362,NaN,陳劉貴美,NaN,NaN,1939/5/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
1363,NaN,陳國璋,NaN,NaN,1943/9/24,NaN,KNOW.EVERY@msa.hinet.net,NaN,NaN,NaN,NaN,NaN,0910-626-037,NaN,NaN,NaN,1,NaN
1364,NaN,張碧眉,NaN,NaN,1946/11/10,NaN,KNOW.EVERY@msa.hinet.net,NaN,NaN,NaN,NaN,NaN,0910-626-037,NaN,NaN,NaN,1,NaN
1365,NaN,黃明添,NaN,NaN,1948/3/29,NaN,m.t.huang@oocl.com,NaN,NaN,NaN,NaN,NaN,+81 80 33589067,NaN,NaN,NaN,1,NaN
1366,NaN,林賴却,NaN,NaN,1949/4/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,NaN,黃廖雀,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2310,NaN,黃思堯,NaN,NaN,NaN,NaN,siyao39@gmail.com,NaN,NaN,NaN,NaN,NaN,908208909,NaN,NaN,NaN,1,NaN
2312,NaN,黃秀端,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2313,NaN,黃若筑,NaN,NaN,NaN,NaN,jameshuang3388@gmail.co,NaN,NaN,NaN,NaN,NaN,0979-754322,NaN,NaN,NaN,1,NaN
2314,NaN,龍瑩瑩,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,1,NaN

In [51]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df_combined=df1.append(df2)
df_combined_difference=df_combined.drop_duplicates(subset=['zh_name'],keep=False)
df2_condition1=pd.concat([df_combined_difference,df2]).duplicated(keep=False)
df2_nosamename=pd.concat([df_combined_difference,df2])[df2_condition1]

df2_nosamename

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
1362,NaN,陳劉貴美,NaN,NaN,1939/5/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
1363,NaN,陳國璋,NaN,NaN,1943/9/24,NaN,KNOW.EVERY@msa.hinet.net,NaN,NaN,NaN,NaN,NaN,0910-626-037,NaN,NaN,NaN,1,NaN
1364,NaN,張碧眉,NaN,NaN,1946/11/10,NaN,KNOW.EVERY@msa.hinet.net,NaN,NaN,NaN,NaN,NaN,0910-626-037,NaN,NaN,NaN,1,NaN
1365,NaN,黃明添,NaN,NaN,1948/3/29,NaN,m.t.huang@oocl.com,NaN,NaN,NaN,NaN,NaN,+81 80 33589067,NaN,NaN,NaN,1,NaN
1366,NaN,林賴却,NaN,NaN,1949/4/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,NaN,黃廖雀,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2310,NaN,黃思堯,NaN,NaN,NaN,NaN,siyao39@gmail.com,NaN,NaN,NaN,NaN,NaN,908208909,NaN,NaN,NaN,1,NaN
2312,NaN,黃秀端,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2313,NaN,黃若筑,NaN,NaN,NaN,NaN,jameshuang3388@gmail.co,NaN,NaN,NaN,NaN,NaN,0979-754322,NaN,NaN,NaN,1,NaN
2314,NaN,龍瑩瑩,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,1,NaN

In [97]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df2_samename=df2.duplicated(subset=['zh_name'])
df2_samename_total_rows=df2_samename.count()
print("2315筆資料當中,沒有同名同姓人數：",df2_samename_total_rows)

df_combined=df1.append(df2)
df_combined_difference=df_combined.drop_duplicates(subset=['zh_name'],keep=False)
df2_condition1=pd.concat([df_combined_difference,df2]).duplicated(keep=False)
df2_nosamename=pd.concat([df_combined_difference,df2])[df2_condition1]
df2_nosamename_total_rows=df2_nosamename.shape[0]
print("2315筆資料當中,沒有同名同姓人數：",df2_nosamename_total_rows)

df_combined=pd.concat([df1,df2])
df_combined_condition1=df_combined.duplicated(subset=['zh_name'],keep=False)
df_combined_samename_pre=df_combined[df_combined_condition1]
#  2315筆資料加上全部資料表，同名同姓名單（A+B）
df_combined_condition2=pd.concat([df_combined_samename_pre,df2]) #(A+B)+B
df_combined_condition3=pd.merge(df_combined_condition2,df2) #(A+B+B)-(A+B)=B 
#  2315筆資料當中，與全部資料表相比，同名同姓名單
df_combined_condition3_total_rows=df_combined_condition3.shape[0]
print("2315筆資料當中,與總資料表同名同姓人數：",df_combined_condition3_total_rows)


df_test=df1.append(df2_nosamename)
df_test_result=df_test.duplicated(subset=['zh_name'])
df_test_reslut_total_rows=df_test_result.count()
print("2315筆資料排除同名同姓：",df_test_reslut_total_rows)

2315筆資料當中,沒有同名同姓人數： 2315
2315筆資料當中,沒有同名同姓人數： 1656

ValueError: You are trying to merge on object and float64 columns. If you wish to proceed you should use pd.concat

In [124]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

df_combined=df1.append(df2) #(A+B）
df_combined_difference=df_combined.drop_duplicates(subset=['zh_name'],keep=False) #(A'+B'）且無同名同姓
df2_condition1=pd.concat([df_combined_difference,df2]) #(A'+B'）+ [(B-B')+B')
df2_condition2=df2_condition1[df2_condition1.duplicated(keep=False)]
df2_condition3=df2_condition2.drop_duplicates()

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [125]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
df_combined=df1.append(df2) #(A+B）
df_combined_difference=df_combined.drop_duplicates(subset=['zh_name'],keep=False) #(A'+B'）且無同名同姓
df2_condition1=pd.concat([df_combined_difference,df2]) #(A'+B'）+ [(B-B')+B']
df2_condition2=df2_condition1[df2_condition1.duplicated(keep=False)] #(A'+B')+[(B-B')+B']-A'-(B-B')=(B'+B')
df2_condition3=df2_condition2.drop_duplicates() #B'
df2_condition3

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
1362,NaN,陳劉貴美,NaN,NaN,1939/5/4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
1363,NaN,陳國璋,NaN,NaN,1943/9/24,NaN,KNOW.EVERY@msa.hinet.net,NaN,NaN,NaN,NaN,NaN,0910-626-037,NaN,NaN,NaN,1,NaN
1364,NaN,張碧眉,NaN,NaN,1946/11/10,NaN,KNOW.EVERY@msa.hinet.net,NaN,NaN,NaN,NaN,NaN,0910-626-037,NaN,NaN,NaN,1,NaN
1365,NaN,黃明添,NaN,NaN,1948/3/29,NaN,m.t.huang@oocl.com,NaN,NaN,NaN,NaN,NaN,+81 80 33589067,NaN,NaN,NaN,1,NaN
1366,NaN,林賴却,NaN,NaN,1949/4/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,NaN,黃廖雀,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2310,NaN,黃思堯,NaN,NaN,NaN,NaN,siyao39@gmail.com,NaN,NaN,NaN,NaN,NaN,908208909,NaN,NaN,NaN,1,NaN
2312,NaN,黃秀端,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
2313,NaN,黃若筑,NaN,NaN,NaN,NaN,jameshuang3388@gmail.co,NaN,NaN,NaN,NaN,NaN,0979-754322,NaN,NaN,NaN,1,NaN
2314,NaN,龍瑩瑩,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,NaN,NaN,/,NaN,NaN,NaN,1,NaN

In [134]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
df_combined=df1.append(df2) #(A+B）
df_combined_difference=df_combined.drop_duplicates(subset=['zh_name'],keep=False) #(A'+B'）且無同名同姓
df2_condition1=pd.concat([df_combined_difference,df2]) #(A'+B'）+ [(B-B')+B']
df2_condition2=df2_condition1[df2_condition1.duplicated(keep=False)] #(A'+B')+[(B-B')+B']-A'-(B-B')=(B'+B')
df2_condition3=df2_condition2.drop_duplicates() #B'

df_combined_same_pre=df2.append(df2_condition3) #[(B-B')+B']+B'
df_combined_same_condition1=df_combined_same_pre[df_combined_same_pre.duplicated(keep=False)] # [B'(True)]+[B'(True)]
df_combined_same_condition2=df_combined_same_pre.append(df_combined_same_condition1) #[(B-B')+B']+B'-[B'(True)]+[B'(True)]
df_combined_same_condition3=df_combined_same_condition2.drop_duplicates(keep=False) #(B-B')
df_combined_same_condition3

print(df_combined_same_condition3)

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

       id zh_name en_name gender   birthday  age                      email  \
0     NaN     陳鴻智     NaN    NaN  1938/8/31  NaN       emy8088@yahoo.com.tw
1     NaN     廖勝國     NaN    NaN   1942/5/8  NaN        sk.liao@hotmail.com
2     NaN     洪長岸     NaN    NaN  1946/1/18  NaN      monty@highlink.com.tw
3     NaN     孫清吉     NaN    NaN  1947/12/2  NaN        chingchi@scu.edu.tw
4     NaN     張美玉     NaN    NaN  1948/12/5  NaN     joychang1022@gmail.com
...   ...     ...     ...    ...        ...  ...                        ...
2249  NaN     楊秉鈞     NaN    NaN        NaN  NaN  yangbinjin@hotmail.com.tw
2257  NaN     王怡韻     NaN    NaN        NaN  NaN     yun317926@yahoo.com.tw
2271  NaN     蔡惠惠     NaN    NaN        NaN  NaN      joanna12099@gmail.com
2287  NaN     郭家馨     NaN    NaN        NaN  NaN        c60123@yahoo.com.tw
2311  NaN     黃正文     NaN    NaN        NaN  NaN        egg80729@gmail.com

     zip_code region county district address          cell tele id_num  \
0         NaN    NaN    NaN      NaN     NaN  0955-327-930  NaN    NaN
1         NaN    NaN    NaN      NaN     NaN  0936-085-999  NaN    NaN
2         NaN    NaN    NaN      NaN     NaN  0905-516-878  NaN    NaN
3         NaN    NaN    NaN      NaN     NaN  0920-584-678  NaN    NaN
4         NaN    NaN    NaN      NaN     NaN  0933-887-716  NaN    NaN
...       ...    ...    ...      ...     ...           ...  ...    ...
2249      NaN    NaN    NaN      NaN     NaN     981203363  NaN    NaN
2257      NaN    NaN    NaN      NaN     NaN     938335241  NaN    NaN
2271      NaN    NaN    NaN      NaN     NaN     916408773  NaN    NaN
2287      NaN    NaN    NaN      NaN     NaN     966476505  NaN    NaN
2311      NaN    NaN    NaN      NaN     NaN     924133811  NaN    NaN

     last_edit bye note
0          NaN   1  NaN
1          NaN   1  NaN
2          NaN   1  NaN
3          NaN   1  NaN
4          NaN   1  NaN
...        ...  ..  ...
2249       NaN   1  NaN
2257       NaN   1  NaN
2271       NaN   1  NaN
2287       NaN   1  NaN
2311       NaN   1  NaN

[1487 rows x 18 columns]

In [135]:
import pandas as pd
import numpy as np

Table1_114104=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/全體資料_114104.csv")
df1=pd.DataFrame(Table1_114104,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])

Table2_2000=pd.read_csv("/Users/humphreyshen/Desktop/Database Project/測試數據/alumni_event_participant/班級聯絡人篩選完畢.csv")
df2=pd.DataFrame(Table2_2000,columns=['id','zh_name','en_name','gender','birthday','age','email','zip_code','region','county','district','address','cell','tele','id_num','last_edit','bye','note'])
df_combined=df1.append(df2) #(A+B）
df_combined_difference=df_combined.drop_duplicates(subset=['zh_name'],keep=False) #(A'+B'）且無同名同姓
df2_condition1=pd.concat([df_combined_difference,df2]) #(A'+B'）+ [(B-B')+B']
df2_condition2=df2_condition1[df2_condition1.duplicated(keep=False)] #(A'+B')+[(B-B')+B']-A'-(B-B')=(B'+B')
df2_condition3=df2_condition2.drop_duplicates() #B'

df_combined_same_pre=df2.append(df2_condition3) #[(B-B')+B']+B'
df_combined_same_condition1=df_combined_same_pre[df_combined_same_pre.duplicated(keep=False)] # [B'(True)]+[B'(True)]
df_combined_same_condition2=df_combined_same_pre.append(df_combined_same_condition1) #[(B-B')+B']+B'-[B'(True)]+[B'(True)]
df_combined_same_condition3=df_combined_same_condition2.drop_duplicates(keep=False) #(B-B')

df_combined_neverappear_pre=df1.append(df_combined_same_condition3)
df_combined_neverappear_condition1=df_combined_neverappear_pre.drop_duplicates(keep=False)

/Users/humphreyshen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,3,5,7,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,NaN,陳鴻智,NaN,NaN,1938/8/31,NaN,emy8088@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,0955-327-930,NaN,NaN,NaN,1,NaN
1,NaN,廖勝國,NaN,NaN,1942/5/8,NaN,sk.liao@hotmail.com,NaN,NaN,NaN,NaN,NaN,0936-085-999,NaN,NaN,NaN,1,NaN
2,NaN,洪長岸,NaN,NaN,1946/1/18,NaN,monty@highlink.com.tw,NaN,NaN,NaN,NaN,NaN,0905-516-878,NaN,NaN,NaN,1,NaN
3,NaN,孫清吉,NaN,NaN,1947/12/2,NaN,chingchi@scu.edu.tw,NaN,NaN,NaN,NaN,NaN,0920-584-678,NaN,NaN,NaN,1,NaN
4,NaN,張美玉,NaN,NaN,1948/12/5,NaN,joychang1022@gmail.com,NaN,NaN,NaN,NaN,NaN,0933-887-716,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2249,NaN,楊秉鈞,NaN,NaN,NaN,NaN,yangbinjin@hotmail.com.tw,NaN,NaN,NaN,NaN,NaN,981203363,NaN,NaN,NaN,1,NaN
2257,NaN,王怡韻,NaN,NaN,NaN,NaN,yun317926@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,938335241,NaN,NaN,NaN,1,NaN
2271,NaN,蔡惠惠,NaN,NaN,NaN,NaN,joanna12099@gmail.com,NaN,NaN,NaN,NaN,NaN,916408773,NaN,NaN,NaN,1,NaN
2287,NaN,郭家馨,NaN,NaN,NaN,NaN,c60123@yahoo.com.tw,NaN,NaN,NaN,NaN,NaN,966476505,NaN,NaN,NaN,1,NaN
2311,NaN,黃正文,NaN,NaN,NaN,NaN,egg80729@gmail.com,NaN,NaN,NaN,NaN,NaN,924133811,NaN,NaN,NaN,1,NaN